.outer
{
    margin:0% auto;
    width: 800px;
    height: 800px;
    border: solid rgb(0, 0, 0);
}
.outer
{
    text-align: center;
}
* {
    margin: 0%;
    padding: 0px;
}
p
{
    font-size: 20px;
    margin: 0% auto;
    text-align: left;
}
.border
{   padding: 5px;
    width: 100%;
    background-color: rgb(219, 212, 205);
    border: 1px solid black;
    font-weight: bold;
} 
